<!-- {% extends "templates/web.html" %}

{% block page_content %}
    <h1>Hello!</h1>
    <h2>{{ my_secret_imoji }}</h2>
    <p>{{ number }}</p>
{% endblock %} -->

<!-- this is a sample default web page template -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link ></link>
    <link href="/assets/rentals/css/test.css" rel="stylesheet">
</head>
<body>
    <h1>Hello</h1>
</body>
</html>